<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>App Version</ion-label>
      <ion-label>2.1.2 - 02.08.2022</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Copyright</ion-label>
      <ion-label>2022, <a href="https://www.abilium.io">Abilium GmbH</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
